Repository bnb-chain/opbnb, pull requests merged in 2025-03, with the labels that each got.

#267 chore: polish millisecond-related code by review tips
  op-batcher/batcher/channel_builder.go
  op-batcher/batcher/channel_manager.go
  op-chain-ops/genesis/config.go
  op-e2e/actions/blocktime_test.go
  op-e2e/actions/dencun_fork_test.go
  op-e2e/actions/l2_sequencer_test.go
  op-e2e/actions/user_test.go
  op-e2e/op_geth.go
  op-e2e/op_geth_test.go
  op-e2e/setup.go
  op-e2e/system_adminrpc_test.go
  op-node/p2p/host_test.go
  op-node/rollup/derive/attributes.go
  op-node/rollup/derive/attributes_queue.go
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/batch_queue_test.go
  op-node/rollup/derive/batches.go
  op-node/rollup/derive/engine_queue.go
  op-node/rollup/derive/l1_block_info_test.go
  op-node/rollup/derive/l2block_util.go
  op-node/rollup/derive/payload_util.go
  op-node/rollup/derive/span_batch.go
  op-node/rollup/driver/origin_selector.go
  op-node/rollup/driver/sequencer.go
  op-node/rollup/driver/sequencer_test.go
  op-node/rollup/driver/state.go
  op-node/rollup/types.go
  op-node/service.go
  op-service/eth/block_info.go
  op-service/eth/heads.go
  op-service/eth/id.go
  op-service/eth/types.go
  op-service/sources/l2_client.go
  op-service/sources/types.go
  op-service/testutils/l1info.go
Labels: WIP

#270 revert: revert contract change
  packages/contracts-bedrock/src/L1/L2OutputOracle.sol
Labels: C-Protocol-Critical

#275 feat: L2OutputOracle uses millisecond to compute l2 timestamp after volta hardfork
  packages/contracts-bedrock/src/L1/L2OutputOracle.sol
  packages/contracts-bedrock/test/L1/L2OutputOracle.t.sol
Labels: C-Protocol-Critical, WIP

#265 feat: BEP-543 to reduce block interval
  op-batcher/batcher/channel_builder.go
  op-batcher/batcher/channel_builder_test.go
  op-batcher/batcher/channel_manager.go
  op-chain-ops/genesis/config.go
  op-e2e/actions/dencun_fork_test.go
  op-e2e/actions/l2_sequencer_test.go
  op-e2e/actions/user_test.go
  op-e2e/op_geth.go
  op-e2e/system_adminrpc_test.go
  op-node/benchmarks/batchbuilding_test.go
  op-node/cmd/batch_decoder/reassemble/reassemble.go
  op-node/p2p/sync.go
  op-node/rollup/chain_spec.go
  op-node/rollup/derive/attributes.go
  op-node/rollup/derive/attributes_queue.go
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/batch_queue_test.go
  op-node/rollup/derive/batch_test.go
  op-node/rollup/derive/batches.go
  op-node/rollup/derive/batches_test.go
  op-node/rollup/derive/channel_in_reader.go
  op-node/rollup/derive/channel_out.go
  op-node/rollup/derive/channel_out_test.go
  op-node/rollup/derive/engine_queue.go
  op-node/rollup/derive/engine_update.go
  op-node/rollup/derive/l1_block_info.go
  op-node/rollup/derive/l1_block_info_test.go
  op-node/rollup/derive/l1_traversal.go
  op-node/rollup/derive/l2block_util.go
  op-node/rollup/derive/payload_util.go
  op-node/rollup/derive/singular_batch.go
  op-node/rollup/derive/span_batch.go
  op-node/rollup/derive/span_batch_test.go
  op-node/rollup/derive/span_channel_out.go
  op-node/rollup/driver/metered_engine.go
  op-node/rollup/driver/origin_selector.go
  op-node/rollup/driver/sequencer.go
  op-node/rollup/driver/sequencer_test.go
  op-node/rollup/driver/state.go
  op-node/rollup/types.go
  op-node/rollup/types_test.go
  op-program/client/l2/engineapi/block_processor.go
  op-service/eth/block_info.go
  op-service/eth/heads.go
  op-service/eth/id.go
  op-service/eth/types.go
  op-service/sources/l2_client.go
  op-service/sources/types.go
  op-service/testutils/l1info.go
  packages/contracts-bedrock/src/L1/L2OutputOracle.sol
  packages/contracts-bedrock/test/L1/L2OutputOracle.t.sol
Labels: C-Protocol-Critical

#282 feat: merge for releasing v0.5.3
  CHANGELOG.md
  op-batcher/batcher/channel_builder.go
  op-batcher/batcher/channel_builder_test.go
  op-batcher/batcher/channel_manager.go
  op-chain-ops/genesis/config.go
  op-e2e/actions/dencun_fork_test.go
  op-e2e/actions/l2_sequencer_test.go
  op-e2e/actions/user_test.go
  op-e2e/op_geth.go
  op-e2e/system_adminrpc_test.go
  op-node/benchmarks/batchbuilding_test.go
  op-node/chaincfg/chains.go
  op-node/cmd/batch_decoder/reassemble/reassemble.go
  op-node/p2p/sync.go
  op-node/rollup/chain_spec.go
  op-node/rollup/derive/attributes.go
  op-node/rollup/derive/attributes_queue.go
  op-node/rollup/derive/batch_queue.go
  op-node/rollup/derive/batch_queue_test.go
  op-node/rollup/derive/batch_test.go
  op-node/rollup/derive/batches.go
  op-node/rollup/derive/batches_test.go
  op-node/rollup/derive/channel_in_reader.go
  op-node/rollup/derive/channel_out.go
  op-node/rollup/derive/channel_out_test.go
  op-node/rollup/derive/engine_queue.go
  op-node/rollup/derive/engine_update.go
  op-node/rollup/derive/l1_block_info.go
  op-node/rollup/derive/l1_block_info_test.go
  op-node/rollup/derive/l1_traversal.go
  op-node/rollup/derive/l2block_util.go
  op-node/rollup/derive/payload_util.go
  op-node/rollup/derive/singular_batch.go
  op-node/rollup/derive/span_batch.go
  op-node/rollup/derive/span_batch_test.go
  op-node/rollup/derive/span_channel_out.go
  op-node/rollup/driver/metered_engine.go
  op-node/rollup/driver/origin_selector.go
  op-node/rollup/driver/sequencer.go
  op-node/rollup/driver/sequencer_test.go
  op-node/rollup/driver/state.go
  op-node/rollup/types.go
  op-node/rollup/types_test.go
  op-program/client/l2/engineapi/block_processor.go
  op-service/eth/block_info.go
  op-service/eth/heads.go
  op-service/eth/id.go
  op-service/eth/types.go
  op-service/sources/l2_client.go
  op-service/sources/types.go
  op-service/testutils/l1info.go
  packages/contracts-bedrock/src/L1/L2OutputOracle.sol
  packages/contracts-bedrock/test/L1/L2OutputOracle.t.sol
Labels: C-Protocol-Critical
